HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

config/
springboot-servicio-commons/
springboot-servicio-usuarios-commons/
springboot-servicio-gateway-server/
#springboot-servicio-config-server/
#springboot-servicio-eureka-server/
#springboot-servicio-item/
#springboot-servicio-oauth/
#springboot-servicio-productos/
#springboot-servicio-usuarios/
#springboot-servicio-zuul-server/
#zipkin-server/